{{>header}}

<section class="article">
    <header class="article-header">
        <h2 class="article-title"><a href="/article/{{slug}}">{{title}}</a></h2>
        <div class="article-meta">By <strong>{{article.author.firstname}}</strong>, on <strong>{{article.addedAt}}</strong></div>
    </header>
    <div class="article-description">
        {{article.headline}}

        {{article.content}}
    </div>
</section>

{{>footer}}